.containerlogin{
    background-image: url(../image/pexels-mnz-1670770.jpg);
    background-size: cover;
    height: 100vh;
}
.backgroundcolor{
    background-color: #000000a6;
    height: 100vh;
    position: absolute;
}
.login {
    width: 70vh;
    margin-top: auto;
    margin-bottom: auto;
    padding: 3rem 3rem;
}
.logocontainer{
    align-self: center;
    justify-content: center;
    width: 33%;
}
.logo{
    width: 33%;
}
.register{
    width: 70vh;
    margin-top: auto;
    margin-bottom: auto;
    padding: 3rem 5rem;
}
.barra{
    margin-top: auto;
    margin-bottom: auto;
    height: 50vh;
    border: 1px white solid;
}
.colorcont{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    background-color: #000000b8;
}
.form-control{
    background-color: #fff0;
    border-bottom: 2px solid #ced4da;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    color: #b1b1b1f2;
    border-radius: 0px;
    padding: .375rem 0rem;
    height: calc(1.5em + 5px + 0px);
}
.form-control:focus {
    color: #ffffff;
    background-color: #fff0;
    border-bottom: #80bdff00;
    outline: 0;
    box-shadow: 0rem 0.15rem 0rem 0rem rgb(254 254 255);
}
.tamanorememberpass{
    font-size: 12px;
    color: #fff;
    margin: 25.5px 0px;
}
.btn{
    border-radius: 0px;
    border: 2px solid #ced4da;
    font-size: 12px;
}
label{
    color: #f8f9fa;
    margin: 0px;
    font-size: 12px;
}
.fontmsg{
    font-size: 12px;
    margin: 0px;
}
.modal-content{
    background-color: #fff0;
}
.modal {
    background-color: #000000a6;
}
.modal-body {
    padding: 1rem 4rem;
}
.cerraricon {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 1rem;
}

@media (max-width: 767px) {
    .colorcont{ 
        display: inline-block;
    }
    .barra{
        display: none;
    }
    .login{
        width: 100%;
    }
    .logocontainer{
        width: 100%;
        margin-top: 5vh;
    }
    .modal-body {
        padding: 1rem 2.5rem;
    }
    .modal {
        background-color: #000000e0;
    }
    .subtitle{
        display: none;
    }
}