.containerregpass{
    background-image: url(../image/pexels-mnz-1670770.jpg);
    background-size: cover;
    height: 100vh;
}
.colorcont{
    height: 100vh;
    background-color: #000000e6;
    display: flex;
    justify-content: center;
}
.centerpage{
    align-self: center;
    width: 40%;
}