.containerregpass{
    background-image: url(../image/pexels-mnz-1670770.jpg);
    background-size: cover;
    height: 100vh;
}
.colorcontregpass{
    height: 100vh;
    background-color: #000000e0; 
    display: flex;
    justify-content: center;
}
.centerpage{
    align-self: center;
    width: 30%;
}
.logo{
    width: 33%;
}
.cerraricon {
    position: absolute;
    right: 1rem;
    top: 1rem;
}